html
  head
    title='Docker Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Project Sharpen!!! 
        p Simple web app listening on port 8080 on nginx of the docker host!
        p 
